<!DOCTYPE>
<html>
    <head>
        <title>{% block title %}Pari Ouvert{% endblock %}</title>

        {% block head %}
        {% endblock %}

        {% block style %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/custom.css" />
        {% endblock %}

        {% block script %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="//code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
        <script type="text/javascript">

        </script>
        {% endblock %}
    </head>
    <body>
        <div id="site" data-role="page">


            <header data-role="header" data-role="button" data-inline="true"	>
                {% if(app.user) %}<div class="notif">12</div>{% endif %}
                <a id="btPannel" href="#mypanel">
                Menu
                </a>
                <div class="logo">PariOuvert.fr</div>
                <div class="clear"></div>
            </header><!-- /header -->

            <div id="content" data-role="content">
                {% block content %}
                {% endblock content %}
            </div><!-- /content -->
            <!-- footer -->
            <footer data-role="footer">
                {% block footer %}
                {% if(app.user) %}
                <div class="etats">
                    <div class="points">12 300 pô</div>
                    <div class="divider"></div>
                    <div class="pariDispo">Pari disponible</div>
                    <div class="clear"></div>
                </div>
                {% else %}
                <div id="copy">
                    pariouvert.fr &copy; {{ "now"|date("Y") }}
                </div>
                {% endif %}
                {% endblock %}
            </footer>

            <div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
                <ul class="nav" data-role="listview">
                    <li><a href="/">Home</a></li>
                    {% if app.user %}
                    <li><a href="{{ path('user') }}"><i class="icon-user"></i>profile</a></li>
                    <li><a href="{{ path('user.logout') }}"><i class="icon-off"></i> Se déconnercter</a></li>
                    {% else %}
                    <li><a href="{{ path('user.login') }}">Se connecter</a></li>
                    <li><a href="{{ path('user.register') }}">S'inscrire</a></li>
                    {% endif %}
                </ul>
            </div><!-- /panel -->

        </div><!-- page -->

    </body>
</html>