<!DOCTYPE>
<html>
    <head>
        <title>{% block title %}Pari Ouvert{% endblock %}</title>

        {% block head %}
        {% endblock %}

        {% block style %}
        <meta charset="UTF-8">
        {% if(app.user) %}
        {% elseif(app.request.server.get("REQUEST_URI") != "/user/login" and app.request.server.get("REQUEST_URI") != "/user/register") %}
        <meta http-equiv="refresh" content="0;URL=/user/login">
        {% endif %}
        <meta name="viewport" content="content-width=480px">
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/custom.css" />
        {% endblock %}

        {% block script %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#index").css({height: $(document).height(), "margin-bottom":-20});
            });
        </script>
        {% endblock %}
    </head>
    <body>
        <div id="site">


            <header>
                {% if(app.user) %}<a class="notif" title="notifications" href="/notifications">12</a>{% endif %}
                <a id="btPannel" href="/" title="menu">
                    <img src="/img/btn_sidemenu.jpg"/>
                </a>
                <div class="logo">
                    <a href="/">
                        <img src="/img/logo_header.jpg" width="451px" heigt="101px"/>
                    </a>
                </div>
                <div class="clear"></div>
            </header><!-- /header -->

            <div id="content">
            {% if(app.user or app.request.server.get("REQUEST_URI") == "/user/login" or app.request.server.get("REQUEST_URI") == "/user/register") %}
                {% block content %}
                {% endblock content %}

            {% endif %}
            </div><!-- /content -->
            <!-- footer -->
            <footer>
                {% block footer %}
                {% if(app.user) %}
                <div class="etats">
                    <div class="points">12 300 pô</div>
                    <div class="divider"></div>
                    <div class="pariDispo">Pari disponible</div>
                    <div class="clear"></div>
                </div>
                {% else %}
                <div id="copy">
                    pariouvert.fr &copy; {{ "now"|date("Y") }}
                </div>
                {% endif %}
                {% endblock %}
            </footer>

            <!-- <div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
                <ul class="nav" data-role="listview">
                    <li><a href="/">Home</a></li>
                    {% if app.user %}
                    <li><a href="{{ path('user') }}"><i class="icon-user"></i>profile</a></li>
                    <li><a href="{{ path('user.logout') }}"><i class="icon-off"></i> Se déconnercter</a></li>
                    {% else %}
                    <li><a href="{{ path('user.login') }}">Se connecter</a></li>
                    <li><a href="{{ path('user.register') }}">S'inscrire</a></li>
                    {% endif %}
                </ul>
            </div><!-- /panel -->

        </div><!-- page -->

    </body>
</html>